html,
body,
#my-map {
  width: 100%;
  height: 80vh;
  margin: 0;
  /* z-index:-1; */
  /* margin--bottom:40px */
}
#card-1 {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#HomePageContent {
  display: flex;
  justify-content: space-between;
}
body {
  font: 16px;
  background: #f3f5f6;
}

.autocomplete-container {
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  position: relative;
}

.input-container input {
  flex: 1;
  outline: none;

  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  padding-right: 31px;
  font-size: 16px;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
  border-top: none;
  background-color: #fff;

  z-index: 99;
  top: calc(100% + 2px);
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: rgba(0, 0, 0, 0.1);
}

.autocomplete-items .autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: rgba(0, 0, 0, 0.1);
}

.clear-button {
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;

  position: absolute;
  right: 5px;
  top: 0;

  height: 100%;
  display: none;
  align-items: center;
}

.clear-button.visible {
  display: flex;
}

.clear-button:hover {
  color: rgba(0, 0, 0, 0.6);
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 6px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button5 {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.button5:hover {
  background-color: #555555;
  color: white;
}

.button6 {
  background-color: lightgreen;
  color: black;
  border: 2px solid #555555;
}

.button6:hover {
  background-color: darkgreen;
  color: white;
}


#card-1{
  width:20%;
  position:absolute;
  top:80px;
  left:20px;
}

#card-2{
  width:20%;
  margin-top: -750px;
  right: 50px;
  display: block;
  position: absolute;
  /* border:2px solid red; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding:20px;
  height:70vh;
  /* z-index:14; */
  background-color:white;
}